/* ======================================== */
/* ======================================== */
/* ======== MAIN */

@font-face {
    font-family: 'caviardreams';
    src: url('../fonts/caviardreams.woff2') format('woff2'),
           url('../fonts/caviardreams.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: caviardreams, sans-serif;
    background-color: #262931;
    color: white;
}

/* ======================================== */
/* ======================================== */
/* ======== CONTAINERS */

#content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 20vw;
    flex-grow: 1;
    font-size: 1.5em;
}

#start {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#game {
    display: none;
    flex-direction: column;
}

/* ======================================== */
/* ======================================== */
/* ======== HEADER NAV FOOTER */

header {
    padding: 2vh 20vw;
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
}

footer {
    display: flex;
    justify-content: center;
    padding: 2vh 20vw;
}

/* ======================================== */
/* ======================================== */
/* ======== DISPLAY */

#display {
    font-size: 2em;
    text-align: center;
    padding: 1.5vh 0 5vh 0;
}

#message {
    text-align: center;
    color: lightcoral;
    padding: 3vh 0;
}

#hangman {
    text-align: center;
    padding: 2vh;
}

#list {
    padding: 5vh 2vh;
    text-align: center;
}

#reload,
#stop {
    display: none;
}

#rules {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.listButtons {
    text-align: center;
}

/* ======================================== */
/* ======================================== */
/* ======== FORM */

input {
    text-transform: uppser;
    background: transparent;
    border: 0;
    text-align: center;
    font-size: 2.5em;
    color: white;
    border-bottom: 2px solid white;
    font-family: caviardreams, sans-serif;
}

input:focus {
    outline: 0;
}

button {
    padding: 2vh;
    margin: 2vh auto;
    border-radius: 15px;
    border: 2px solid transparent;
    background: black;
    color: white;
    width: 15vw;
    font-size: 1.4em;
    text-transform: uppercase;
    font-family:  caviardreams, sans-serif;
}

button:hover {
    opacity: 0.5;
    cursor: pointer;
}

/* ======================================== */
/* ======================================== */
/* ======== MOBILE */

@media(max-width: 1200px) {
    header {
        font-size: 2em;
        padding: 2vh 2vw;
    }

    #container {
        padding: 0 2vw;
    }

    button {
        min-width: 40vw;
    }

    #reload {
        min-width: 50vw !important;
    }

    input,
    button {
        font-size: 1em;
    }
}