/* ======================================== */
/* ======================================== */
/* ======== VARIABLES */

:root {
    --background: #262931;
    --mainColor: white;
    --topBarBackground: black;
    --buttonColor1: black;
    --buttonColor2: white;
}

/* ======================================== */
/* ======================================== */
/* ======== MAIN */

@font-face {
    font-family: 'choco_bear';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/choco_bear.woff2') format('woff2'), url('../fonts/choco_bear.woff') format('woff');
    font-display: swap;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: choco_bear,sans-serif;
    color: var(--mainColor);
    background: var(--background);
}

#container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* ======================================== */
/* ======================================== */
/* ======== GAME */

#game {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 2vh;
    font-size: 2.5em;
}

.line {
    display: flex;
}

#topBar {
    display: none;
    justify-content: center;
    padding: 2vh;
    text-align: center;
    font-size: 1.5em;
    background: var(--topBarBackground);
}

#click,
#found {
    margin: 0 2vw;
}

#results {
    text-align: center;
    font-size: 1.5em;
}

/* ======================================== */
/* ======================================== */
/* ======== IMAGES */

img {
    width: 100%;
    transition: transform 0.5s;
    transform: scale(1);
    cursor: pointer;
    filter: brightness(90%);
}

img:active {
    transform: scale(1.2);
}

.found {
    opacity: 0.5;
    transform: unset;
    cursor: not-allowed;
}

/* ======================================== */
/* ======================================== */
/* ======== BUTTONS */

#listButtons {
    display: flex;
    justify-content: center;
    padding: 2vh;
}

button {
    width: 18vw;
    margin-right: 2vh;
    margin-left: 2vh;
    padding: 2vh;
    border: 2px solid transparent;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 2em;
    color: var(--buttonColor2);
    background: var(--buttonColor1);
    transition: transform 0.5s;
    transform: scale(1);
}

button:hover {
    transform: scale(1.2);
}

#cheat,
#reload {
    display: none;
}

/* ======================================== */
/* ======================================== */
/* ======== MOBILE */

@media(max-width:1024px) {
    img {
        width: 25vw;
        height: 15vh;
    }

    img:active {
        transform: none;
    }

    #topBar {
        font-size: 1em;
    }

    #game {
        align-items: inherit;
        font-size: 1.5em;
        text-align: center;
    }

    #results {
        font-size: 1.1em;
    }

    .line {
        justify-content: space-evenly;
    }

    button {
        width: 45vw;
        margin: 0.3vh 1vh;
        padding: 3vh;
        font-size: 1em;
    }

    button:hover {
        transform: none;
    }
}