/* ======================================== */
/* ======================================== */
/* ======== MAIN */

:root {
    --background: #262931;
    --mainTextColor: white;
    --navBackground: black;
    --mainColor: white;
    --ticTacToeColor1: lightskyblue;
    --ticTacToeColor2: lightgreen;
    --buttonColor1: black;
    --buttonColor2: white;
    --popupBackground: black;
    --popupTitleUnderline: white;
}

@font-face {
    font-family: 'dk_lemon_yellow';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/dk_lemon_yellow_sun.woff2') format('woff2'), url('../fonts/dk_lemon_yellow_sun.woff') format('woff');
    font-display: swap;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: dk_lemon_yellow;
    color: var(--mainTextColor);
    background-color: var(--background);
}

/* ======================================== */
/* ======================================== */
/* ======== GENERAL */

#content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    padding: 2vh;
    text-transform: uppercase;
    font-size: 4em;
}

nav {
    display: none;
    justify-content: center;
    padding: 2vh;
    font-size: 2em;
    background: var(--navBackground);
}

footer {
    display: flex;
    justify-content: center;
    padding: 2vh;
}

/* ======================================== */
/* ======================================== */
/* ======== GAME */

#tab {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.line {
    display: flex;
}

.case {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 20vh;
    border: 2px solid var(--mainTextColor);
}

.c1 {
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
}

.c2 {
    border-top: 2px solid transparent;
}

.c3 {
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
}

.c4 {
    border-left: 2px solid transparent;
}

.c6 {
    border-right: 2px solid transparent;
}

.c7 {
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
}

.c8 {
    border-bottom: 2px solid transparent;
}

.c9 {
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

.tic {
    color: var(--ticTacToeColor1);
}

.tac {
    color: var(--ticTacToeColor2);
}

.tic,
.tac {
    font-size: 7em;
}

/* ======================================== */
/* ======================================== */
/* ======== BUTTONS */

button {
    width: 15vw;
    margin-right: 2vh;
    margin-left: 2vh;
    padding: 2vh;
    border: 2px solid transparent;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: dk_lemon_yellow;
    font-size: 2em;
    color: var(--buttonColor2);
    background: var(--buttonColor1);
}

button:hover {
    border: 2px solid var(--buttonColor2);
}

/* ======================================== */
/* ======================================== */
/* ======== POPUP */

#containerPopup {
    display: none;
    z-index: 5;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--popupBackground);
}

#containerPopup:target {
    display: block;
}

#popup {
    display: block;
    position: relative;
    width: 50vw;
    margin: auto auto;
    padding: 2vh;
    border-radius: 10px;
    text-align: center;
    color: var(--mainTextColor);
    background-color: var(--background);
}

#popupTitle {
    margin-top: 0;
    border-bottom: 2px solid var(--popupTitleUnderline);
    font-size: 4.5em;
}

#popupText {
    text-align: center;
    font-size: 3em;
}

/* ======================================== */
/* ======================================== */
/* ======== MOBILE */

@media(max-width:1024px) {
    #navPlayer {
        padding: 2vw;
    }

    .case {
        width: 30vw;
        height: 16vh;
    }

    button {
        width: 40vw;
        margin: 1vh;
        padding: 3vh;
    }

    button:focus,
    button:active {
        outline: none !important;
    }

    #popup {
        width: 85%;
    }

    #popupTitle {
        font-size: 3em;
    }

    #popupText {
        font-size: 1.8em;
    }
}